[package]
name = "notify-types"
version = "1.0.0"
rust-version = "1.63"
description = "Types used by the notify crate"
documentation = "https://docs.rs/notify-types"
homepage = "https://github.com/notify-rs/notify"
repository = "https://github.com/notify-rs/notify.git"
readme = "../README.md"
license = "MIT OR Apache-2.0"
keywords = ["events", "filesystem", "notify", "watch"]
categories = ["filesystem"]
authors = ["Daniel Faust <hessijames@gmail.com>"]

edition = "2021"

[features]
serialization-compat-6 = []

[dependencies]
instant = "0.1.12"
serde = { version = "1.0.89", features = ["derive"], optional = true }
mock_instant = { version = "0.3.0", optional = true }

[dev-dependencies]
serde_json = "1.0.39"
insta = "1.34.0"
rstest = "0.17.0"
