dist: xenial
language: rust

cache:
  - directories:
    - $HOME/.cargo
    - target/debug/deps
    - target/$TARGET/debug/deps
before_cache:
  # Travis can't cache files that are not readable by "others"
  - chmod -R a+r $HOME/.cargo

stages:
  - smoke (check, audit, test)
  - test stables
  - check minimum version
  - check nightlies

jobs:
  include:
    - stage: smoke (check, audit, test)
      env: CARGO_SMOKE=1
      os: linux

    - stage: test stables
      env: CARGO_TEST=1
      os: windows
    - env: CARGO_TEST=1
      os: osx

    - stage: check minimum version
      rust: 1.32.0
      os: linux
    - rust: 1.32.0
      os: windows
    - rust: 1.32.0
      os: osx

    - stage: check nightlies
      rust: nightly
      os: linux
    - rust: nightly
      os: windows
    - rust: nightly
      os: osx

before_install:
  - set -e
  - |
    if [ $TRAVIS_OS_NAME = windows ]; then
      choco install windows-sdk-10.1
    fi
    if [[ ! -z "$CARGO_SMOKE" ]]; then
      which cargo-audit || cargo install --debug cargo-audit
    fi
# --debug for faster build at the minimal expense of runtime speed

script:
  - |
    if [[ ! -z "$CARGO_SMOKE" ]]; then
      cargo check --features serde
      cargo audit
      tests/and-retry --features serde
    elif [[ ! -z "$CARGO_TEST" ]]; then
      tests/and-retry --features serde
    else
      cargo check --features serde
    fi

after_script: set +e

branches:
  only:
    # release tags
    - /^v\d+\.\d+\.\d+.*$/

    # test branches
    - /^try-/

    # main branches
    - main
    - next
