[package]
name = "notify-debouncer-full"
version = "0.4.0"
description = "notify event debouncer optimized for ease of use"
documentation = "https://docs.rs/notify-debouncer-full"
authors = ["Daniel Faust <hessijames@gmail.com>"]
keywords = ["events", "filesystem", "notify", "watch"]
license = "MIT OR Apache-2.0"
readme = "README.md"
rust-version = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "notify_debouncer_full"
path = "src/lib.rs"

[features]
default = ["crossbeam","macos_fsevent"]
serde = ["notify-types/serde"]
mock_instant = ["dep:mock_instant","notify-types/mock_instant"]
# can't use dep:crossbeam-channel and feature name crossbeam-channel below rust 1.60
crossbeam = ["crossbeam-channel","notify/crossbeam-channel"]
macos_fsevent = ["notify/macos_fsevent"]
macos_kqueue = ["notify/macos_kqueue"]

[dependencies]
notify = { workspace = true, default-features = false }
notify-types = { workspace = true }
crossbeam-channel = { workspace = true, optional = true }
file-id = { workspace = true }
walkdir = { workspace = true }
log = { workspace = true }
mock_instant = { workspace = true, optional = true }

[dev-dependencies]
notify-debouncer-full = { workspace = true, features = ["mock_instant"] }
pretty_assertions = { workspace = true }
rstest = { workspace = true }
serde = { workspace = true }
deser-hjson = { workspace = true }
rand = { workspace = true }
